@media screen and (max-width:768px){
    .list{
        display: none;
    }
    .sectionA{
        background-position: center;
    }
    .menu{
        display: block;
        height: 40px;
        margin-right: 2%;
    }
    .midtext{
        margin: 0;
        margin-top: 30%;
        text-align: center;
        width: 100%;
    }
    .section2{
        display: block;
    }
    .div1 , .div2 ,.div3{
        margin: 0;
        padding: 0;
        width: 90%;
        margin-left: 5%;
        margin-top: 10px;
    }
}